#TextBox{
    background-color: lightblue;
    padding: 5px 25px 25px 25px;
    margin: 25px;
    height: 110px;
    width: 50em;
    font-size: 2em;
    flex-flow: column;
    border: black 1px solid;
    border-radius: 15px;
    align-items: center;
}
.wordContainer{
    padding: 3px 5px 3px 5px;
    margin-right: 5px;
    line-height: 60px;
}

.active{
    background-color: gray;
}

.wordContainer.active.incorrect{
    color: black;
    background-color: red;
}

.wordContainer.incorrect{
    color: red;
    background-color: inherit;
}